// headings
//

@mixin _all_h {
  padding: 0;
  font-weight: normal;
  line-height: 1.2;
}

// H1.
@mixin h1 {
  @include _all_h;
  font-family: $font-family-barlow-medium;
  font-size: $title--m;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;

  @include viewport--m {
    font-size: $title--l;
  }

  @include viewport--l {
    font-size: $title--xl;
  }  

  @include viewport--xl {
    font-size: $title--xxl;
  }
}

// H2.
@mixin h2 {
  @include _all_h;
  font-family: $font-family-barlow-medium;
  font-size: $title--s;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: $letter-spacing--s;
  text-transform: uppercase;

  @include viewport--m {
    font-size: $title--m;
  }

  @include viewport--xl {
    font-size: $title--l;
  }
}

// H3.
@mixin h3 {
  @include _all_h;
  font-family: $font-family-barlow-regular;
  font-size: $title--xs;
  font-weight: 400;
  line-height: 1.33333;
  letter-spacing: $letter-spacing--s;

  @include viewport--l {
    font-size: $title--s;
  }

  @include viewport--xl {
    font-size: $title--m;
  }
}

// H4.
@mixin h4 {
  @include _all_h;
  font-family: $font-family-barlow-regular;
  font-size: $body--xl;
  font-weight: 400;
  line-height: 1.28571;
  letter-spacing: $letter-spacing--s;

  @include viewport--l {
    font-size: $title--xs;
  }

  @include viewport--xl {
    font-size: $title--s;
  }
}

// H5.
@mixin h5 {
  @include _all_h;
  font-family: $font-family-roboto-medium;
  font-size: $body--l;
  line-height: 1.25;
  letter-spacing: $letter-spacing--s * 2;
  text-transform: uppercase;

  @include viewport--l {
    font-size: $body--xl;
  }

  @include viewport--xl {
    font-size: $title--xs;
  }
}

// H6.
@mixin h6 {
  @include _all_h;
  font-family: $font-family-roboto-medium;
  font-size: $body--m;
  line-height: 1.66667;
  letter-spacing: $letter-spacing--s * 2;
  text-transform: uppercase;

  @include viewport--xl {
    font-size: $body--l;
  }
}
