// @viewport--x($reversed)
//
// $reversed - indicates if media query should be normal (min-width)
// or reversed (max-width)
//
//

// viewport m - from 501px
@mixin viewport--m ($inversed: null) {
  @if ($inversed) {
    @media (max-width: #{($breakpoint-viewport--m - 1)}) {
      @content;
    }
  }
  @else {
    @media (min-width: #{$breakpoint-viewport--m}) {
      @content;
    }
  }
}

// viewport l - from 941px
@mixin viewport--l ($inversed: null) {
  @if ($inversed) {
    @media (max-width: #{($breakpoint-viewport--l - 1)}) {
      @content;
    }
  }
  @else {
    @media (min-width: #{$breakpoint-viewport--l}) {
      @content;
    }
  }
}

// viewport xl - from 1440px
@mixin viewport--xl ($inversed: null) {
  @if ($inversed) {
    @media (max-width: #{($breakpoint-viewport--xl - 1)}) {
      @content;
    }
  }
  @else {
    @media (min-width: #{$breakpoint-viewport--xl}) {
      @content;
    }
  }
}


// viewport range
@mixin viewport--range($viewport1, $viewport2) {
  @media (min-width: #{($viewport1)}) and (max-width: #{($viewport2 - 1)}) {
    @content;
  }
}

// Internet Explorer 10 + 11
@mixin internet-explorer-10-11 {
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    @content;
  }
}