// @text-ellipsis($width, $display)
//
// $width - the width of the element that is being truncated. Defaults to 100%.
// $display - display of element. Defaults to 'inline-block'.
//
//

@mixin text-ellipsis($width: 100%, $display: inline-block) {
  display: $display;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}