// checkbox
//

.js-form-type-checkbox {
  position: relative;
  margin-bottom: $spacing--s * 2;
}

input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: 5px;

  // Show the checkmark on the checked state
  &:checked + label {
    &::after {
      content: '';
    }
  }
}

//Label
input[type=checkbox] + label {
  position: relative;
  cursor: pointer;
  padding-left: $spacing--m;
  line-height: $spacing--m;
  color: $color--gray-opacity-5;

  &::before,
  &::after {
    display: inline-block;
    position: absolute;
    border: 2px solid $color--gray-600;
  }

  // Outer-box
  &::before {
    content: '';
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    margin-right: $spacing--xs;
    border-color: $color--gray-300;
  }
  
  // Checkmark
  &::after {
    content: none;
    width: 10px;
    height: 7px;
    top: 4px;
    left: 4px;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    transition: $transition-duration--fast;
  }
}
