//Text fields.
//

.form-item:not([class*="checkbox"]) {
  margin-bottom: $spacing--xs * 1.2;

  @include viewport--l {
    margin-bottom: $spacing--s;
  }

  label {
    display: none;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    min-height: 40px;
    padding: $spacing--xxs $spacing--xs * 1.6;
    font-size: $body--m;
    font-weight: 300;
    line-height: $spacing--m;
    letter-spacing: $letter-spacing--m;
    color: $color--gray-600;
    background-color: #f5f5f5;
    background-image: none;
    border-radius: 5px; 
    transition: $transition-duration ease-in-out;
    border: 1px solid $color--gray-400;

    &:focus {
      outline: none;
      border: 1px solid $color--gray-600;
    }
     
    @include viewport--l {
      min-height: 60px;
    }
  }

}