//Buttons.
//

//Default button.
.button {
  @include text-ellipsis;
  cursor: pointer;
  position: relative;
  padding: $spacing--xs * 1.2 $spacing--s;
  font-size: $body--s;  
  border: 2px solid $color--pink;
  border-radius: $border-radius-l;
  font-family: $font-family-roboto-regular;
  font-weight: 700;
  letter-spacing: $letter-spacing--l;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  transition: $transition-duration--fast all ease-in-out;
  color: $color--gray-600;
  background-color: transparent;

  &:hover {
    background-color: $color--pink;
    color: $color--white;
  }

  @include viewport--l {
    padding: $spacing--xs * 1.6 $spacing--s * 2;
    padding-right: $spacing--s * 2;
    padding-left: $spacing--s * 2;
    font-size: $body--m;
  }
}

//Small button.
.button--s {
  padding: $spacing--xxs $spacing--xs * 1.2;
  font-size: $title--xs / 2;

  @include viewport--l {
    padding: $spacing--xs * 1.2 $spacing--m;
    font-size: $body--s;
  }
}

//Large button.
.button--l {
  padding: $spacing--xs * 1.2 $spacing--m;
  line-height: 1.334;
  font-size: $body--m;

  @include viewport--l {
    padding: $spacing--s $spacing--l;
    font-size: $body--l;
  }
}

//Full width button.
.button--fw {
  width: 100%;
}

//Gradient button.
.button--gradient {  
  border-color: transparent;
  background-size: 200% auto;
  background-position: 100% 50%;
  background-image: linear-gradient(84deg,$color--pink 0%,$color--orange 50%,$color--pink 100%);
  animation: motionGradient 5s infinite linear;
  color: $color--white;

  &:hover {
    background-position: 0 100%;
    border-color: transparent;
    transition: none;
    animation: none
  }
}

//Black filled button.
.button--bw--fill {
  background-color: $color--charcoal;
  border-color: $color--charcoal;
  color: $color--white;

  &:hover {
    border-color: $color--pink;
  }
}

//Black button.
.button--bw {
  border-color: $color--charcoal;

  &:hover {
    border-color: $color--pink;
  }
}