.countdown {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  @include viewport--l {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  // Wrapper.
  &__wrapper {
    position: relative;
    
    @include viewport--l('inversed') {
      margin-bottom: 20px;

    }
  }

  // Title.
  .field--name-field-countdown-title {
      margin-bottom: $spacing--s;
  }

  // Countdown item.
  &__timer {
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: $font-family-barlow-regular;
    font-size: $title--m;

    @include viewport--l {
      top: 50px;
      font-size: $title--xxl;
    }

    // Countdown item section.
    &-section {
      text-align: center;
      position: relative;
      display: inline-block;
      margin-right: 20px;
  
      @include viewport--l {
        margin-right: 70px;
      }
  
      &:last-child {
        margin-right: 0;
      }
      
  
      span {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: $body--l;
  
        @include viewport--l {
          font-size: $title--xs;
        }
      }
    }
  }
}

