.footer {
  flex-shrink: 0;
  padding-top: $spacing--l;
  
  background-color: $color--gray-bg-100;
  color: $color--white;

  @include viewport--l {
    padding-top: $spacing--m * 3;
  }

  &__block {
    margin-bottom: $spacing--m;
  }

  p {
    padding-bottom: $spacing--m / 2;
    color: $color--white-gray--opasity-5;

    a {
      color: $color--white-gray--opasity-5;
    }
  }

  .h5 {
    margin-bottom: $spacing--xs;
    padding-bottom: $spacing--xs;
  }

  // Footer first block.
  &-first {
    padding-bottom: $spacing--l;
    text-align: center;

    @include viewport--l {
      text-align: left;
    }
  }
  
  // Footer second block.
  &-second {
    position: relative;
    padding-top: $spacing--m;
    padding-bottom: $spacing--m;
    background: $color--gray-bg-200;

    @include viewport--l {
      padding-top: $spacing--m * 2;
      padding-bottom: $spacing--m * 2;
    }

    // Footer navigation.
    .footer__navigation {

      ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
          margin-right: 3%;
          margin-bottom: $spacing--xs;

          &:last-child {
            margin-right: 0;
          }

          @include viewport--l {
            padding-top: $spacing--xs;
          }

          a {
            font-size: $title--xs / 2;
            font-weight: 700;
            text-transform: uppercase;
            color: $color--white-gray--opasity-5;

            @include viewport--l {
              font-size: $body--m;
            }

            &:hover {
              color: $color--pink;
            }


          }
        }
      }
    }


    //Copyright block.
    .copyright {
      text-align: center;

      @include viewport--l {
        text-align: right;
      }

      p {
        padding-top: 7px;
        padding-bottom: 0;
      }
    }
  }

  // Border top for footer second.
  .border-top {
    &::before {
      width: 96%;
    }
  }

  // Footer site logo.
  &__logo {
    padding-bottom: $spacing--m;
    text-align: center;

    @include viewport--l {
      margin-bottom: $spacing--m;
      padding-bottom: 0;
      text-align: left;
    }

    &-item {
      width: 100px;
    }
  }
}