// navigation
//

$navigation-menu--width: 700px;

//Administrator style.
.toolbar-vertical {
  .toolbar-bar {
    position: fixed;
    top: 0 !important;
    width: 100%;
  }
}

.navigation {
  box-shadow: 0 0 22px -4px rgba(0, 0, 0, 0.17);

  &--fixed {
    position: fixed;
  }
}

// Navigation.
.navigation {
  z-index: 10;
  background: $color--white;
  display: flex;
  align-items: center;
  width: 100%;
  height: $navigation--height;
  top: 0;

  // Administrator.
  .toolbar-vertical & {
    top: 39px !important;
  }

  // Navigation wrapper.
  &__bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

  }

  // Site logo.
  .site__logo {
    position: absolute;
    top: -5px;
    right: 20px;
  }

  // Navigation menu wrapper.
  &__menu-wrapper {
    position: absolute;
    top: $navigation--height;
    left: 0;
    height: 100vh;
    width: $sub-menu--width;
    font-size: $body--s;
    transform: translateX(-110%);
    transition: $transition-duration--slowest;
    background: $color--white;
    box-shadow: 0 0 22px -4px $color--gray-opasity-17;
  }

  // Navigation menu.
  &__menu {
    height: 100vw;
    overflow-x: scroll;
    margin-top: $spacing--xxs * 3;
    text-align: left;

    // Navigation menu item.
    &-item {
      position: relative;
      text-align: left;

      // Navigation menu link.
      a {
        display: block;
        padding: $spacing--xs $spacing--l $spacing--xs $spacing--xxs * 3;
        font-weight: 700;
        letter-spacing: $letter-spacing--l;
        text-transform: uppercase;
        color: $color--gray-600;
        transition: $transition-duration;
        font-size: $body--m;
        line-height: 34px;

        &:hover {
          color: $color--white;
          background: $color--pink;
        }
      }
    }

    &--show {
      transform: translateX(0);
    }
  }

  // Navigation dropdown.
  &__dropdown {
    transition: $transition-duration--slow ease-in-out;

    &, .navigation__dropdown--active {
      &::after {
        content: '';
        position: absolute;
        top: 20px;
        right: 15px;
        width: 10px;
        height: 10px;
        background-image: url("../img/icons/menu-down--arrow.svg");
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }

    &--active {
      &::after {
        background-image: url("../img/icons/menu-up--arrow.svg");
      }

      & > a {
        background: $color--pink;
        color: $color--white;
      }
    }

    //Navigation submenu show.
    &--show {
      display: block !important;
    }
  }

  // Navigation menu-sub.
  &__menu-sub {
    display: none;

    // Navigation menu-sub link.
    a {
      padding-left: $spacing--m;
      font-size: $body--xs;
      line-height: 1.5;
      letter-spacing: .1em;
      text-transform: none;
    }
  }
}


//*=======================Desktop styles====================*//


@include viewport--l {
  //Sticky header.
  .sticky-header {
    height: 74px !important;
    background: $color--white !important;
    transition: $transition-duration--slow;
  
    .navigation__menu-sub {
      top: 45px;
    }
  }

  // Desktop - Navigation.
  .navigation {
    height: $navigation--height-desktop;
    transition: $transition-duration--slow;

    //Administrator style.
    .toolbar-tray-open & {
        top: 78px;
    }

    // Desktop - Navigation wrapper.
    &__bar {
      display: none;
    }

    .site__logo {
      left: 19px;
      top: 18px;
      width: 130px;
      height: 53px;
      background-size: 130px auto;
    }

    // Desktop - Navigation menu wrapper.
    &__menu-wrapper {
      position: static;
      width: 100%;
      height: auto;
      transform: none;
      transition: $transition-duration--slow;
      box-shadow: none;
      background: none;
    }

    // Desktop - Navigation menu.
    &__menu {
      display: flex;
      justify-content: space-around;
      overflow: unset;
      align-items: center;
      max-width: $navigation-menu--width;
      height: 100%;
      margin: 0 auto;

      &::after {
        display: none;
      }

      // Desktop - Navigation menu item.
      &-item {

        // Show sub-menu.
        &:hover {
          .navigation__menu-sub {
            opacity: 1;
            visibility: visible;
            transform: none;
          }
        }
        
        // Desktop - Navigation menu link.
        a {
          padding: 0;
  
          &:hover {
            color: $color--pink;
            background: none;
          }

          .sticky-header & {
            color: $color--charcoal;

            &:hover {
              color: $color--pink;
            }
          }
        }
      }
    }

    // Desktop - hidden dropdown arrows.
    &__dropdown {

      // Hide dropdown arrows.
      &::after {
        display: none;
      }
    }

    // Desktop - Navigation menu-sub.
    &__menu-sub {
      position: absolute;
      top: 52px;
      display: block;
      opacity: 0;
      visibility: hidden;
      width: $sub-menu--width;
      margin-left: -$spacing--m;
      text-align: left;
      transform: translateY(30px);
      background: $color--white;
      box-shadow: 0 0 20px 0 $color--gray-opasity-08;
      transition: all $transition-duration--slow ease-in-out;

      // Desktop - Navigation menu-sub item.
      & .navigation__menu-item  {
        &:not(:first-child) {
          border-top: 1px solid $color--gray-400;
        }

        // Desktop - Navigation menu-sub link.
        a {
          padding: $spacing--xxs * 5 $spacing--m;
          font-size: $body--s;
          color: $color--charcoal;
          text-transform: uppercase;

          &::before {
            content: '';
            position: absolute;
            display: inline-block;
            top: 50%;
            left: 0;
            width: 4px;
            height: 50%;
            background-image: linear-gradient(90deg,$color--pink 0%,$color--orange 100%);
            transform: translateY(-50%);
            visibility: hidden;
            opacity: 0;
            transition: all $transition-duration--slow ease-in-out;
          }

          &:hover {
            &::before {
              opacity: 1;
              visibility: visible;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .sticky-header {
    .site__logo {
      top: 11px;
      width: 130px;
      background-size: 130px auto;
    }
  }
}

@include viewport--xl {
  .navigation {
    .site__logo {
      top: 11px;
      left: 70px;
      width: 165px;
      height: 67px;
      background-size: 165px auto;
    }
  }

  .sticky-header {
    .site__logo {
      top: 0;
      width: 140px;
      background-size: 140px auto;
    }
  }
}
