$color--white: #FFF;
$color--charcoal: #333333;
$color--white-gray--opasity-014: rgba(255,255,255,.14);
$color--white-gray--opasity-5: rgba(255,255,255,.5);
$color--white-gray--opasity-08: rgba(255,255,255,0.08);
$color--gray-opasity-05: rgba(21,21,21,.05);
$color--gray-opasity-08: rgba(21,21,21,.08);
$color--gray-opasity-17: rgba(0,0,0,.17);
$color--gray-opacity-5: rgba(21,21,21,.5);
$color--gray-opacity-8: rgba(21,21,21,.8);
$color--pink: #f6435f;
$color--pink-hover: #e20b2c;
$color--gray-100: #f5f5f5;
$color--gray-200: #e8e8e8;
$color--gray-300: #ddd;
$color--gray-400: #d1d1d1;
$color--gray-500: #3d3d3d;
$color--gray-600: #151515;
$color--gray-bg: #373737;
$color--gray-bg-100:#404148;
$color--gray-bg-200:#3a3b42;
$color--orange: #ff9625;