// font sizes
//
//

$body--xs  : 0.75rem;    //12px
$body--s   : 0.875rem;   //14px
$body--m   : 1rem;       //16px
$body--l   : 1.125rem;   //18px
$body--xl  : 1.25rem;    //20px
$title--xs : 1.625rem;   //26px
$title--s  : 2rem;       //32px
$title--m  : 2.5rem;     //40px
$title--l  : 3.125rem;   //50px
$title--xl : 4.375rem;   //70px
$title--xxl: 6.875rem;   //110px