// sizing
//
// global variables for widths paddings, margins, sizes and such
//
//

// baseline size, used for every calculation
$baseline: 16px;

//border radius.
$border-radius-s: 4px;
$border-radius-l: 50px;
$border-radius-half: 50%;