// spacings
//
// using spacing blocks apply margin and padding across the website consistently. 
// having a set spacing scale brings a rhythm to the product and creates a 
// natural and familiar flow from page to page.
//
//

$letter-spacing--s: 0.025em;
$letter-spacing--m: 0.035em;
$letter-spacing--l: 0.075em;

$spacing--xxs : 0.313em;    //5px
$spacing--xs  : 0.625em;    //10px;
$spacing--s   : 1.250em;    //20px;
$spacing--m   : 1.875em;    //30px;
$spacing--l   : 3.125em;    //50px;
$spacing--xl  : 5.000em;    //80px;
$spacing--xxl : 8.125em;    //130px;
