// transitions
//
// variables related to transitions
//
//

$transition-duration--faster: 0.1s;
$transition-duration--fast: 0.25s;
$transition-duration: 0.3s;
$transition-duration--slow: 0.5s;
$transition-duration--slower: 0.7s;
$transition-duration--slowest: 1s;