.background-text {
  @include text-ellipsis;
  font-size: $title--s;
  line-height: 1;
  letter-spacing: .075em;
  text-transform: uppercase;
  font-family: $font-family-barlow-black;
  color: $color--gray-opasity-05;

  @include viewport--l {
    font-size:$title--xxl * 1.2;
  }
}