// Border top.
.border-top {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    margin: auto;
  }
  
  // Gray border top.
  &--gray {
    &::before {
      background: $color--white-gray--opasity-5;
    }
  }
}