//links.
//
//

a {
  transition: all $transition-duration ease-in-out;
  color: $color--pink;
  text-decoration: none;

  &:hover {
    color: $color--pink-hover;
  }

  &:active {
    color: $color--pink;
  }
}