// logo MyGumLife
//
//

.site__logo {
  width: 90px;
  height: 50px;
  background-image: url('../img/mygymlife-logo.png');
  background-repeat: no-repeat;
  background-size: 90px auto;
  background-position: 100% 100%;
  transition: 0.5s;
}