//Animations.
//

//Gradient button animation.
@keyframes motionGradient {
  90% {
    background-position: 100% 50%
  }

  95% {
    background-position: 0 50%
  }
}

// Header slider animation.
@keyframes kenBurns {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

// Bounce from bottom to top.
@keyframes bounceInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 300px, 0);
  }

  60% {
    
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

// Top to bottom.
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translate(0, -150px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}