//Barlow Condensed

//Regular
@font-face {
  font-family: 'Barlow Condensed-Regular';
  src: url('..fonts/BarlowCondensed/regular/BarlowCondensed-Regular.eot');
  src: url('..fonts/BarlowCondensed/regular/BarlowCondensed-Regular.eot?#iefix') format('embedded-opentype'),
      url('..fonts/BarlowCondensed/regular/BarlowCondensed-Regular.woff2') format('woff2'),
      url('../fonts/BarlowCondensed/regular/BarlowCondensed-Regular.woff') format('woff'),
      url('../fonts/BarlowCondensed/regular/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//Medium
@font-face {
  font-family: 'Barlow Condensed-Medium';
  src: url('../fonts/BarlowCondensed/medium/BarlowCondensed-Medium.eot');
  src: url('../fonts/BarlowCondensed/medium/BarlowCondensed-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BarlowCondensed/medium/BarlowCondensed-Medium.woff2') format('woff2'),
      url('../fonts/BarlowCondensed/medium/BarlowCondensed-Medium.woff') format('woff'),
      url('../fonts/BarlowCondensed/medium/BarlowCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

//SemiBold
@font-face {
  font-family: 'Barlow Condensed-SemiBold';
  src: url('../fonts/BarlowCondensed/semibold/BarlowCondensed-SemiBold.eot');
  src: url('../fonts/BarlowCondensed/semibold/BarlowCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BarlowCondensed/semibold/BarlowCondensed-SemiBold.woff2') format('woff2'),
      url('../fonts/BarlowCondensed/semibold/BarlowCondensed-SemiBold.woff') format('woff'),
      url('../fonts/BarlowCondensed/semibold/BarlowCondensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

//Bold
@font-face {
  font-family: 'Barlow Condensed-Bold';
  src: url('../fonts/BarlowCondensed/bold/BarlowCondensed-Bold.eot');
  src: url('../fonts/BarlowCondensed/bold/BarlowCondensed-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BarlowCondensed/bold/BarlowCondensed-Bold.woff2') format('woff2'),
      url('../fonts/BarlowCondensed/bold/BarlowCondensed-Bold.woff') format('woff'),
      url('../fonts/BarlowCondensed/bold/BarlowCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

//Black
@font-face {
  font-family: 'Barlow Condensed-Black';
  src: url('../fonts/BarlowCondensed/black/BarlowCondensed-Black.eot');
  src: url('../fonts/BarlowCondensed/black/BarlowCondensed-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BarlowCondensed/black/BarlowCondensed-Black.woff2') format('woff2'),
      url('../fonts/BarlowCondensed/black/BarlowCondensed-Black.woff') format('woff'),
      url('../fonts/BarlowCondensed/black/BarlowCondensed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


//Roboto

//Regular
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/regular/Roboto-Regular.eot');
  src: url('../fonts/Roboto/regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/regular/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto/regular/Roboto-Regular.woff') format('woff'),
      url('../fonts/Roboto/regular/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//Medium
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto/medium/Roboto-Medium.eot');
  src: url('../fonts/Roboto/medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/medium/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto/medium/Roboto-Medium.woff') format('woff'),
      url('../fonts/Roboto/medium/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

//Bold
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/bold/Roboto-Bold.eot');
  src: url('../fonts/Roboto/bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/bold/Roboto-Bold.woff2') format('woff2'),
      url('./fonts/Roboto/bold/Roboto-Bold.woff') format('woff'),
      url('../fonts/Roboto/bold/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

//Black
@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto/black/Roboto-Black.eot');
  src: url('../fonts/Roboto/black/Roboto-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/black/Roboto-Black.woff2') format('woff2'),
      url('../fonts/Roboto/black/Roboto-Black.woff') format('woff'),
      url('../fonts/Roboto/black/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

// Barlow fonts variables
$font-family-barlow-regular: Barlow Condensed-Regular, 'sans-serif';
$font-family-barlow-medium: Barlow Condensed-Medium, 'sans-serif';
$font-family-barlow-semibold: Barlow Condensed-SemiBold, 'sans-serif';
$font-family-barlow-bold: Barlow Condensed-Bold, 'sans-serif';
$font-family-barlow-black: Barlow Condensed-Black, 'sans-serif';

// Roboto fonts variables
$font-family-roboto-regular: Roboto-Regular, 'sans-serif';
$font-family-roboto-medium: Roboto-Medium, 'sans-serif';
$font-family-roboto-bold: Roboto-Bold, 'sans-serif';
$font-family-roboto-black: Roboto-Black, 'sans-serif';








