$columns-gap: 2%;

@include viewport--l {
  .columns {
    display: flex;
    justify-content: space-between;
    margin-left: -$columns-gap;
    margin-right: -$columns-gap;
  
    & > [class*="col-"] {
      margin-left: $columns-gap;
      margin-right: $columns-gap;
    }

    .col-2 {
      width: calc(100% / 6);
    }

    .col-3 {
      width: 25%;
    }
  
    .col-4 {
      width: calc(100% / 3);
    }

    .col-6 {
      width: 50%;
    }

    .col-8 {
      width: calc(100% / 1.5);
    }

    .col-12 {
      width: 100%;
    }
  }

  // Float containers.
  .col-offset {
    // Float left.
    &--left {
      margin-right: auto;
    }

    // Float right.
    &--right {
      margin-left: auto;
    }
  }
}
