// misc
//
// set up html and body styling
//

html {
  box-sizing: border-box;
  color: $color--charcoal;
  font-display: swap;
  font-family: $font-family-roboto-regular;
  font-size: $baseline;
  margin: 0;
  overflow-x: hidden;
  
  * {
    &,
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
}

// Positioning footer to bottom.
html, body {
  height: 100%;
}

.dialog-off-canvas-main-canvas {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


// Pushing content who enters under main menu!
.body--navigation-fixed {
  padding-top: $navigation--height !important;
  
  @include viewport--l {
    padding-top: $navigation--height-desktop;
  }

  // Administrator.
  &.toolbar-vertical {
    padding-top: 95px !important;
  
    @include viewport--l {
      padding-top: #{($navigation--height * 2) + 37} !important;
    }
  }

  &.toolbar-tray-open {
    @include viewport--l {
      padding-top:$navigation--height * 3 !important;
    }
  }
}




