// typography.
//
// the font's used are 'Barlow Condensed' and 'Roboto'.
//
//

//headings.
//
//

h1, .h1 {
  @include h1;
}

h2, .h2 {
  @include h2;
}

h3, .h3 {
  @include h3;
}

h4, .h4 {
  @include h4;
}

h5, .h5 {
  @include h5;
}

h6, .h6 {
  @include h6;
}

//paragraphs text.
//
//

p {
  font-size: $title--xs / 2;
  line-height: 1.875;
  letter-spacing: $letter-spacing--s * 2;
  font-family: $font-family-roboto-regular;
  font-weight: 300;
  color: $color--gray-opacity-8;

  @include viewport--l {
    font-size: $body--s;
  }
}

//strong text.
//
//

strong, .strong {
  font-weight: 800;
}
