// icons.

$pseudo-element--position: -9px;

//Mobile menu icon
.navbar-icon {
  cursor: pointer; 
  position: relative; 
  width: 24px;
  height: 20px;
  padding: 10px 35px 16px 0px;
  margin-left: $spacing--s;

  @include viewport--l {
    display: none;
  }

  span {
    cursor: pointer;
    position: absolute;
    width: 24px;
    height: 2px;
    background: $color--pink;
    transition: all $transition-duration--slow ease-in-out;

    &::before, &::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 2px;
      background: $color--pink;
      transition: all $transition-duration--slow ease-in-out;
    }

    &::before {
      top: $pseudo-element--position;
    }

    &::after {
      bottom: $pseudo-element--position;
    } 
  }
}

//Icon active.
.navbar-icon--active {
  span {
    background-color: transparent;
    transition: all $transition-duration ease-in-out;

    &::before, &::after {
      top: 0;
      left: 0;
    }
    &::before {
      transform: rotate(45deg);
    }
    
    &::after {
      transform: rotate(-45deg);
    }
  }
}

// Social media icon's.
.social-icon {
  height: 30px;
  
  &__item {
    position: relative;
    display: inline-block;
    width: 46px;
  
  @include viewport--l {
    width: 50px;
    padding-bottom: $spacing--s * 2;
    }

    a {
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
        background-repeat: no-repeat;
  
        @include viewport--l {
          width: 25px;
          height: 25px;
        }
      }
    }

    &--facebook {
      a {
        &::before {
          background-image: url("../img/icons/social-media/facebook-icon.svg");
        }
      }
    }
  
    &--google {
      a {
        &::before {
          width: 25px;
          height: 25px;
          background-image: url("../img/icons/social-media/google-plus-icon.svg");
  
          @include viewport--l {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  
    &--twitter {
      a {
        &::before {
          background-image: url("../img/icons/social-media/twitter-icon.svg");
        }
      }
    }
  
    &--pinterest {
      a {
        &::before {
          background-image: url("../img/icons/social-media/pinterest-icon.svg");
        }
      }
    }
  }
}
