.header__slider {
  &.slick-dotted {
    margin-bottom: -$spacing--xxs;
  }

  .field--name-field-header-slider-title,
  .field--name-field-header-slider-sub-title,
  .field--name-field-header-slider-button {
    opacity: 0;
  }

   // Animations for title, sub-title and button.
  .slick-active {
    .field--name-field-header-slider-title {
      animation: 2s ease-out bounceInDown;
      animation-fill-mode: both;
      animation-delay: 1s;
    }

    .field--name-field-header-slider-sub-title,
    .field--name-field-header-slider-button {
      animation: 2s ease-out bounceInUp;
      animation-fill-mode: both;
      animation-delay: 1s;
    }
  }

//  Image animation.
.slick-active {
  .field__item {
    img {
      animation: kenBurns 50s infinite;
    }
  }
}

// Slick arrows.
.slick-arrow {
  width: 65px;
  height: 65px;
  background: $color--white-gray--opasity-014;
  border-radius: $border-radius-half;
  transition: $transition-duration ease-in;

  &:hover {
    background:$color--white-gray--opasity-5;
    transition: $transition-duration ease-in;

    &::before {
      transform: scale(1.2);
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 24.5px;
    width: 16px;
    height: 18px;
    background-repeat: no-repeat;
  }
}

  // Next arrow.
  .slick-next {
    right: 90px;
  
    &::before {
      right: 23.5px;
      background-image: url('../img/icons/right-arrow.svg');
    }
  }

  // Prev arrow.
  .slick-prev {
    left: 90px;
    z-index: 10;
  
    &::before {
      left: 23.5px;
      background-image: url('../img/icons/left-arrow.svg');
    }
  }

  // Slider dots (for resolutions under 941px).
  .slick-dots {
    bottom: 5px;

    li {
      button {
        &::before {
          opacity: 1;
          color: $color--white;
        }
      }
    }

    .slick-active {
      button {
        &::before {
          color: $color--pink;
        }
      }
    }
  }

  .slick-slider {
    margin-bottom: 0;
  }

  .paragraph--type--header-slider {
    position: relative;

    // Image slider.
      img {
        width: 100%;
        height: 100%;
      }

    // Wrapper for title, sub-title and button.
    .positioning {
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      // Title slider.
      .field--name-field-header-slider-title {
        .h1 {
          @include text-ellipsis;
          color: $color--white;
          text-transform: uppercase;
        }
      }

      // Subtitle slider.
      .field--name-field-header-slider-sub-title {
        .h4 {
          @include text-ellipsis;
          padding-top: 0;
          padding-bottom: $spacing--xs;
          color: $color--white;

          @include viewport--l {
            padding-top: $spacing--s * 2;
            padding-bottom: $spacing--s;
          }
        }
      }
    }
  }
}
